#login{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#login #login-form{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#login #login-form .input-field{
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 10px;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#submit-login {
    margin-left: 29px;
    margin-right: 29px;
}